POSTGRES_URL="postgres://default:YAdJ7LXoMV1m@ep-white-mouse-a4eijn0c-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:YAdJ7LXoMV1m@ep-white-mouse-a4eijn0c-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:YAdJ7LXoMV1m@ep-white-mouse-a4eijn0c.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-white-mouse-a4eijn0c-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="YAdJ7LXoMV1m"

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth